extends layout

block content
  style.
    body{
      background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('https://resources.markon.com/sites/default/files/styles/large/public/pi_photos/Onions_Red_Hero.jpg')
    }
  h1= title
  a(class='btn btn-info' href=`/onion/create`) Create new Onion Instance
  - var results = onion_results
  div.container-fluid 
    div.row 
        each item, index in results
           - let destination = `dispatch(\"/costumes/update?id=${item._id}\")` 
            div.col-sm-2(onclick=`buy(${index})`) Onion Name: #{item["Onion"]} <br> Dealer: #{item["Dealer"]} <br> price: #{item["price"]} <br> Rating: #{item["Rating"]} <br> Category: #{item["Category"]}
             <br>
             button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function buy(index) {
      alert("You purchased item " + index)
     }
       function dispatch(path){ 
      window.location.href=path 
    } 
 